h1{
    margin-left: 50%;
    color:red;
}

#playground{   
    position: relative;
    display:grid;
    grid-template-columns: 0.5fr 3.5fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr; 
    width:50%;
    height:50%;
    border: 1px solid #CCC;
    padding:3rem;
    border-radius: 1em;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0,0, 0);
    margin-left:25%;
    
   
}

#bubble_1,#bubble_2,#bubble_3,#bubble_4{
  cursor: pointer;
  cursor: hand;
  grid-column: 1/2;
  height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 50%;

  
}
#bubble_2{
    background-color:blue;
}
#bubble_3{
    background-color:red;
}
#bubble_4{
    background-color:green;
}
#btn{
    grid-column: 2/2;
    grid-row: 5/5;
    padding:5px;
    font-size:15px;
    width:25%;
    margin-left: 45%;
    margin-top: 5%;
}

.arrow_1,.arrow_2,.arrow_3,.arrow_4{       
    grid-column:2/2;
    grid-row:1/5;
    margin-left: 80%;
    font-size: 50px;
   
    
}
.arrow_2{
    grid-row:2/5;
    
}
.arrow_3{   
    grid-row:3/5;
}
.arrow_4{   
    grid-row:4/5;
}


